<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Canvas Grid</title>
  <style type="text/css" media="screen">
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#25364f, #ee4444, #ffffff);
    }
  </style>
</head>

<body>
  <canvas>Canvas Grid</canvas>
</body>

<script src="./canvasGrid.js"></script>

</html>
